:root {
    background-image: linear-gradient(0deg, #ccd0d6 0%, #fff 100%);
}

.team {
    position: relative;
    padding-top: 150px;
 
  
    top: -25px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team h1 {
      text-align: center;
  }
  .team-card {
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      flex-wrap: wrap;
      margin: 15px 0;
      justify-content: center;
  }