.prizes {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #ccd0d6 0%, #fff 100%);
  top: -30px;
  padding-bottom: 100px;
  
}

.prizes__main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
  
}

.prizes__title {
  font-size: 65px;
  font-family: 'Archive';
  font-display: swap;
  margin: 100px 0;
}
.prizes__title_2 {
  font-size: 40px;
  font-family: 'Archive';
  font-display: swap;
  margin: 40px 0;
}

.prizes__card {
  width: 270px;
  height: 270px;
  border-radius: 35px;
  margin: 20px 50px;
  position: relative;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* filter: blur(8px); */
}

.prizes__sub {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.prizes__card p {
  font-size: 30px;
  font-family: 'Archive';
}

.prizes__card:hover {
  transform: translateY(-10px) scale(1.02);
}

.first {
  background-image: linear-gradient(45deg, #fff44f 0%, #ffd700 100%);
  box-shadow: 2px 2px 20px #fbff25;
  top: -20px;
}

.first:hover {
  box-shadow: 1px 5px 40px #dbdf12;
}

.second {
  background-image: linear-gradient(45deg, #e0dddd 0%, #c6c6c6 100%);
  box-shadow: 2px 2px 20px #c0c0c0;
  top: 20px;
}

.second:hover {
  box-shadow: 1px 5px 40px #777777;
}

.third {
  background-image: linear-gradient(45deg, #d69a6b 30%, #b1560f 100%);
  box-shadow: 2px 2px 20px #da6a16;
  top: 20px;
}

.third:hover {
  box-shadow: 1px 5px 40px #a05012;
}

.prizes__img {
  width: 170px;
}

.prizes__title--sub {
  font-size: 45px;
  font-family: 'Archive';
  font-display: swap;
  text-align: center;
  margin-bottom: 100px;
}

.prizes__sub {
  /* font-family: 'Archive';
  font-display: swap;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  */
  width: 90vw;
}

.prizes__grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-items: center;
}

.bounty__card {
  width: 300px;
  height: 350px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px rgba(119, 119, 119, 0.836);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.bounty__card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Archive';
  font-size: 20px;
}

.bounty__card article {
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
}

.bounty__card-link {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #3f7c64, #00ff99);
  color: #052d35;
  transition: all 0.3s ease;
}

.bounty__card-link:hover {
  transform: scale(1.05);
}

.bindia_btn {
  font-size: 15px;
}

.bounty__card img {
  width: 250px;
}
.b_onepass img {
  width: 100px;
}
.b_onepass {
  background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.b_xyz {
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.b_xyz img {
  width: 150px;
}
.b_replit {
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.b_testmail {
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.b_sashido {
  background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.b_cake {
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.b_framer {
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.b_echoar {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f2fcfe, #198CFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f2fcfe, #198CFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bindia_p {
  text-align: center;
}
.coinvise_p {
  text-align: center;
}
.b_polygon {
  background-image: linear-gradient(45deg, #9e6fce, #52308f 60%);
}
.b_coinvise {
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.b_portis {
  background-image: linear-gradient(45deg, #48c5ef, #6f87d6 60%);
}

.b_celo {
  background-image: linear-gradient(45deg, #fbcc5c 15%, #35d07f 120%);
}

.b_tezos {
  background-image: linear-gradient(45deg, #6db2d8, #183a85 80%);
}

.b_code-Parva {
  background-image: linear-gradient(45deg, #8fd4e6, #2f26ad);
}

.b_girlgeek {
  background-image: linear-gradient(45deg, #fbb034 20%, #fd0);
}
.b_bindia {
  background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}
.b_clerky {
  background-image: linear-gradient(45deg, #fbcc5c 15%, #35d07f 120%);

}
@media (max-width: 1100px) {
  .prizes__card {
    width: 230px;
    height: 230px;
    margin: 20px 20px;
  }

  .prizes__img {
    width: 140px;
  }
}
/* 
@media (min-width: 600px) {
  .prizes__grid {
    align-items: center;
    justify-items: center;
  }
} */

@media (max-width: 850px) {
  .prizes__main {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .first,
  .second,
  .third {
    top: 0;
  }

  .first {
    top: -270px;
  }

  .second {
    top: 270px;
  }

  .prizes__card {
    width: 230px;
    height: 230px;
    margin: 20px 20px;
  }

  .prizes__img {
    width: 140px;
  }

  .prizes__title {
    font-size: 35px;
  }

  .prizes__title--sub {
    font-size: 30px;
  }

  .bounty__card {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .prizes__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .bounty__card {
    width: 250px;
    height: 300px;
  }

  .bounty__card img {
    width: 230px;
  }

  .bounty__card div {
    font-size: 18px;
  }

  .bounty__card article {
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;
    font-size: 15px;
  }
  .b_onepass img {
    width: 100px;
  }
  
  
  
}