.tracks {
  position: relative;
  height: 120%;
  background-color: #1D2228;
  top: -20px;
  /* padding: 100px 0; */
  /* background-image: linear-gradient(45deg, #1D2228 0%, #0e1f23 74%); */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

#particles_2 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tracks-heading {
  font-size: 65px;
  font-family: 'Archive';
  color: #fff;
  text-align: center;
  font-display: swap;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 20px 30px;
  /* padding: 100px 0; */
  padding-top: 100px;
  padding-bottom: 25px;
}

.track-cards {
  grid-gap: 0px !important;
  width: 100%;
}

.row-tracks {
  position: absolute;
  bottom: -95px;
  padding-bottom: 100px;
  left: 0;
  width: 100%;
  line-height: 0;
  overflow: hidden;
  transform: rotate(180deg);
}

.last__card {
  padding-bottom: 100px;
}

@media (max-width: 1550px) {
  .row-tracks {
    bottom: -85px;
  }
}

@media (max-width: 1360px) {
  .row-tracks {
    bottom: -70px;
  }
}

@media (max-width: 1200px) {
  .tracks-heading {
    font-size: 55px;
  }

  .row-tracks {
    bottom: -60px;
  }
}

@media (max-width: 940px) {
  .tracks-heading {
    font-size: 45px;
  }

  .row-tracks {
    bottom: -45px;
  }
}
@media (max-width: 720px) {
  .row-tracks {
    bottom: -35px;
  }
}

@media (max-width: 540px) {
  .tracks-heading {
    font-size: 35px;
  }

  .track-cards {
    grid-gap: 0px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row-tracks {
    bottom: -23px;
  }
}

@media (max-width: 360px) {
  .row-tracks {
    bottom: -20px;
  }
}
