.backdrop {
  margin: 10px;
  margin-top: 40px;
  margin-left: 20px;
  width: 85%;
  height: 250px;
  border-radius: 20px;
  padding: 10px;
  background: #fff;
  z-index: 2;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: all 0.3s ease;
}

.backdrop:hover {
  transform: scale(1.07);
}

.over-front {
  height: 100%;
}

.text {
  font-size: 28px;
  font-family: 'Archive';
  margin: 0;
  border-radius: 18px;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 3;
  transform: translateZ(20px);
}

.lighten {
  color: black;
  mix-blend-mode: lighten;
  background: rgb(255, 255, 255);
  transform: translateZ(20px);
}

.img1 {
  background: url('../../assets/tracks/ML2.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img2 {
  background: url('../../assets/tracks/BLKCHN.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img3 {
  background: url('../../assets/tracks/IOT.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img4 {
  background: url('../../assets/tracks/VR.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img5 {
  background: url('../../assets/tracks/FM.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img6 {
  background: url('../../assets/tracks/OI.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img1:hover{
  transition-property: filter;
  filter:saturate(165%);
}
.img2:hover{
  transition-property: filter;
  filter:saturate(250%);
}
.img3:hover{
  transition-property: filter;
  filter:saturate(210%);
}
.img4:hover{
  transition-property: filter;
  filter:saturate(350%);
}
.img5:hover{
  transition-property: filter;
  filter:saturate(250%);
}
.img6:hover{
  transition-property: filter;
  filter:saturate(280%);
}

@media (max-width: 1200px) {
  .backdrop {
    width: 80%;
    height: 200px;
  }

  .text {
    font-size: 22px;
  }

  .lighten {
    color: black;
    mix-blend-mode: lighten;
    background: rgb(255, 255, 255);
  }
}

@media (max-width: 900px) {
  .backdrop {
    width: 80%;
    height: 200px;
  }

  .text {
    font-size: 20px;
    width: 60%;
  }

  .lighten {
    color: black;
    mix-blend-mode: lighten;
    background: rgb(255, 255, 255);
  }
}

@media (max-width: 800px) {
  .backdrop {
    width: 150px;
    height: 150px;
  }

  .text {
    font-size: 18px;
    width: 100%;
  }

  .lighten {
    color: black;
    mix-blend-mode: lighten;
    background: rgb(255, 255, 255);
  }
}

@media (max-width: 800px) {
  .backdrop {
    width: 150px;
    height: 150px;
  }

  .text {
    font-size: 18px;
    width: 100%;
  }

  .lighten {
    color: black;
    mix-blend-mode: lighten;
    background: rgb(255, 255, 255);
  }
}

@media (max-width: 540px) {
  .backdrop {
    width: 70%;
    height: 200px;
  }

  .text {
    font-size: 16px;
    font-family: 'Archive';
    margin: 0;
    border-radius: 18px;
    height: 30%;
    width: 100%;
    position: relative;
    top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
  }

  .lighten {
    color: black;
    mix-blend-mode: lighten;
    background: rgb(255, 255, 255);
  }
}

@media (max-width: 360px) {
  .text {
    font-size: 14px;
  }
}