.sponsors {
  position: relative;
  background-color: #eef6f3;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsors-heading {
  font-size: 65px;
  font-family: 'Archive';
  font-display: swap;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0 10px;
  color: #052d35;
}

.row-sponsors {
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  overflow: hidden;
}

.new__sponsors h3 {
  font-family: 'Archive';
  font-display: swap;
  font-size: 45px;
  color: #052d35;
  padding: 50px 0;
}

.new__sponsors h4 {
  font-family: 'Archive';
  color: #052d35;
  font-display: swap;
  font-size: 35px;
  padding: 55px 0;
  text-align: center;
}

.sponsors-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors__main {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.archive.new__sponsors a,
.archive.old__sponsors a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors__img {
  transition: all ease 0.3s;
}

.sponsors__img:hover {
  transform: scale(1.1);
}

/* SEPARATE SPONSOR STYLES */

.devfolio {
  width: 600px;
}

.polygon {
  width: 320px;
}

.portis {
  width: 280px;
}

.celo {
  width: 300px;
}

.tezos {
  width: 250px;
}

.replit {
  width: 100px;
}

.jetbrains {
  width: 120px;
}
.onepassword {
  width: 100px;
}

.cryptopolitan {
  width: 350px;
}

.stickermule {
  width: 250px;
}

.coinvise {
  width: 130px;
}

@media (max-width: 1200px) {
  .sponsors-heading {
    font-size: 55px;
  }

  .old-title {
    font-size: 30px;
  }
}

@media (max-width: 940px) {
  .sponsors-heading {
    font-size: 45px;
  }

  .sponsors-grid {
    gap: 4rem;
  }

  .new__sponsors h3 {
    font-size: 35px;
  }
  .new__sponsors h4 {
    font-size: 25px;
  }

  .devfolio {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .devfolio {
    width: 300px;
  }

  .sponsors-heading {
    font-size: 35px;
  }

  .sponsors__main {
    margin: 10px 0;
    padding: 10px 0;
  }

  .new__sponsors h3 {
    font-size: 25px;
    padding: 20px 0;
  }
  .new__sponsors h4 {
    font-size: 20px;
    padding: 20px 0;
    padding-bottom: 45px;
  }

  .old-title {
    font-size: 20px;
  }

  .sponsors-grid {
    gap: 4rem;
  }

  .polygon {
    width: 270px;
  }

  .portis {
    width: 230px;
  }

  .celo {
    width: 270px;
  }

  .tezos {
    width: 220px;
  }

  .replit {
    width: 90px;
  }

  .jetbrains {
    width: 100px;
  }
  .onepassword {
    width: 90px;
  }

  .cryptopolitan {
    width: 280px;
  }

  .stickermule {
    width: 220px;
  }

  .coinvise {
    width: 110px;
  }
}

@media (max-width: 450px) {
  .devfolio {
    width: 280px;
  }

  .sponsors-grid {
    display: flex;
    flex-direction: column;
  }
}
