.accordion {
  background-color: #FB8122;
  color: #052d35;
  border: 1px solid #f88934;
  cursor: pointer;
  padding: 18px;
  margin: 20px;
  width: 550px;
  font-size: 15px;
  transition: all 0.3s ease;
  font-size: 20px;
  font-family: 'Archive';
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
/* 5caa7a */
.active,
.accordion:hover {
  background-color: #fb8022c7;
}

.accordion:after {
  content: '\002B';
  color: #052d35;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}

.panel {
  padding: 0 18px;
  background-color: #FB8122;
  color: #052d35;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  width: 550px;
  border-radius: 15px;
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
  position: relative;
  top: -15px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-weight: bold;
}

.faqs {
  background-image: linear-gradient(0deg, #D6D9DE 0%, #fff 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0;
  z-index: -2;
}

.faqs__title {
  font-size: 65px;
  font-family: 'Archive';
  margin-bottom: 100px;
}

.faqs__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faqs__sub-1,
.faqs__sub-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1300px) {
  .faqs__main {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .faqs__main {
    flex-direction: column;
  }

  .accordion {
    margin: 20px 0;
    width: 300px;
    font-size: 17px;
  }

  .panel {
    font-size: 18px;
    width: 300px;
  }
}

@media (max-width: 650px) {
  .accordion {
    margin: 20px 0;
    width: 260px;
    font-size: 15px;
  }

  .panel {
    font-size: 16px;
    width: 260px;
  }
}
