.founder {
    position: relative;
    padding-top: 150px;
    top: -25px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .founder h1 {
      text-align: center;
  }
  .founder-card {
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      flex-wrap: wrap;
      margin: 15px 0;
      justify-content: center;
  }